@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
    font-family: "Poppins", sans-serif;
    cursor:default;
}

body{
    background-color: #333;
}
#open{
    text-align: center;
    border-radius: 5px;
}
#opening{
    font-size: 60px;
    font-weight: bolder;
    letter-spacing: 0.5px;
    color: #f5f5f5;
}

.ehe {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #bd6c0f;
  }
  
  .eh {
    float: left;
  }
  
  .eh a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    transition: 0.6s ease-out;
  }
  
  .eh a:hover {
    text-shadow: #333 2px 2px 2px;
    font-size: 20px;
    transition: 0.6s ease-out;
  }

  .card {
    width: 210px;
    height: 284px;
    padding: .8em;
    margin: 1.8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   }
   
   .card-img {
    background-image: linear-gradient(#bd6c0f, #613808);
    height: 30%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
   }
   
   .card-info {
    padding-top: 4%;
   }
   
   svg {
    width: 20px;
    height: 20px;
   }
   
   .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #333;
    flex-direction: row;
   }
   
   /*Text*/
   .text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
   }
   
   .text-body {
    font-size: .9em;
    padding-bottom: 10px;
   }
   
   /*Button*/
   .card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   
   /*Hover*/
   .card-img:hover {
    transform: translateY(-25%);
    box-shadow: #bd6c0f 0px 13px 47px -5px, #613808  0px 8px 16px -8px;
   }
   
   .card-button:hover {
    border: 1px solid #2b2a2a;
    background-color: #474747;
   }
   .chuj{
    display: flex;
    justify-content: center;
    gap: 40px;
    gap: 10px 20px; /* row-gap column gap */
    row-gap: 10px;
    column-gap: 40px;
   }
   h1 {
    background-color: white;
    font-size: 100px;
    color: #bd6c0f;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    transition: 0.6s ease-out;
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    cursor:default;
  }
  
  h1:hover {
    background-color: #252525;
    color: white;
    transition: 0.6s ease-out;
    
  }
  .card2 {
    width: 100%;
    max-width: 290px;
    height: 70px;
    background: #353535;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    backdrop-filter: blur(10px);
    transition: 0.5s ease-in-out;

  }
  
  .card2:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
  }
  
  .img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 10px;
    background: linear-gradient(#bd6c0f, #613808);
    transition: 0.5s ease-in-out;
  }
  
  .card2:hover > .img {
    transition: 0.5s ease-in-out;
    background: linear-gradient(#a35d0e, #472906);

  }
  
  .textBox {
    width: calc(100% - 90px);
    margin-left: 10px;
    color: white;
    font-family: 'Poppins' sans-serif;

  }
  
  .textContent {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  
  .span {
    font-size: 10px;

  }
  
  .h12 {
    font-size: 15px;
    font-weight: bold;
  }
  
  .p {
    position: relative;
    top: -20px;
    font-size: 12px;
  }
  .opinions{
    display: flex;
    justify-content: space-between;
    margin: 100px;
    padding: 30px;
  }
  .input-group {
    position: relative;
   }
   
   .input {
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    margin-bottom: 30px;
   }
   
   .user-label {
    position: absolute;
    left: 15px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .input:focus, input:valid {
    outline: none;
    border: 1.5px solid #bd6c0f;
   }
   
   .input:focus ~ label, input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: #333;
    padding: 0 .2em;
    color: #ffffff;
   }
   .contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   }
   #cont{
    color: white;
    font-size: 40px;
    position: relative;
    top: -40px;
    border-bottom: solid 1.3px #bd6c0f;
    border-top: solid 1.3px #bd6c0f;
   }
   button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
  }
  
  button {
    --primary-color: #ffffff;
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
  }
  
   
  #siema{
    color: white;
    text-align: center;
    margin: px;
    float: right;
  }
  .nom{
    position: relative;
    color: white;
    text-align: center;
    margin: px;
    float: right;
    right: 20px;
  }